.container-fluid{
  padding: 0;
}

.title{
  font-size: 3rem;
}

.iconBtn{
  font-size: 2rem;
  color: white;
}

body{
  background-image: radial-gradient( yellowgreen 50%, rgb(0, 189, 0) 100%);
  background-repeat: no-repeat;
}

header{
  background: yellowgreen;
  font-family: 'Bree Serif';
  font-size: 1.8em;
}

section{
  min-height: 200px;
  transition: height 0.2s;
}
.nav-sp{
  height: 200px;
  transition: height 0.2s;
}

.active{
  border-bottom: solid black 4px;
}

.teams-table{
  max-width: 500px;
}

table{
  margin: auto;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.table td {
  padding: 0;
}

.table-light td{
  border-top: solid 1px rgba(0,0,0,.125);
}

.list-group-item{
  padding: 0.2rem 0.2rem;
}

nav{
  overflow: visible;
  height: 44px;
  transition: height 0.2s;
  background: yellowgreen;
  overflow: hidden;
  font-weight: bolder;
}

.posts-container{
  max-width: 800px;
  margin: 0 auto;
}
.myPost .content{
  background-color: rgb(17, 161, 17);
  border-radius: 20px;
  order:1;
  margin-left: 5px;
  flex-grow: 2;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.39);
}

.otherPost .content{
  background-color: dodgerblue;
  border-radius: 20px;
  margin-right: 5px;
  order: 2;
  flex-grow: 2;
}

.myPost img{
width: 100%;
border-radius: 500px;
max-width: 100px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.39);
}

.myPost .authorPic{
  flex-basis:20%;
  padding: 5px;
  order: 2;
}
.otherPost .authorPic{
  flex-basis:20%;
  padding: 5px;
  order: 1;
}
.otherPost img{
width: 100%;
border-radius: 500px;
max-width: 100px;
}

/*media*/

@media (orientation: landscape){
  #menu5{
    display: block;
  }
  #menu4{
    max-width: 40%;
    min-width: 40%;
    transition : flex 20ms;
  }
  #menu4P{
    display:none;
  }
}

@media (orientation: portrait){
  #menu5{
    display: none;
  }

  #menu4{
    display:none;
  }

}
