<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="Web App" name="apple-mobile-web-app-title">
  <title>NYSL</title>
  <link rel="icon" href="./img/nysl_logo.png">
  <link rel="shortcut icon" sizes="128x128" href="./img/nysl_logo.png">
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
  <main id="app">
    <div class="container-fluid p-0 fixed-top" id="top">
      <header class="d-flex text-center">
        <button class="btn iconBtn" @click="back"><i class="fas fa-arrow-left"></i></button>
        <h1 class="flex-grow-1 mb-0 title">NYSL</h1>
        <button id="menuTog" class="btn iconBtn"><i class="fas fa-bars"></i></button>
      </header>
      <nav class="m-0 p-0 " id="navbar">
        <div class="d-flex text-center">
          <div class="p-2  flex-fill" id="btn-menu1" :class="{'active' : page == 'menu1'}" @click="setpage('menu1')">
            Home</div>
          <div class="p-2 flex-fill" id="btn-menu2" :class="{'active' : page == 'menu2'}" @click="setpage('menu2')">
            Teams</div>
          <div class="p-2 flex-fill" id="btn-menu3" :class="{'active' : page == 'menu4'}" @click="setpage('menu4')">
            Schedule</div>
          <div class="p-2 flex-fill" id="btn-menu4" :class="{'active' : page == 'menu3'}" @click="setpage('menu3')">
            Rules</div>
        </div>
      </nav>
    </div>
    <div class="nav-sp" :style="{height: topHight}"></div>

    <section id="menu1" class="p-4 overflow-auto" v-show="page == 'menu1'" :style="{height: heightVp}">
      <h2>News</h2>
      <table class="table table-light shadow">
        <tbody>
          <tr v-for="item in news">
            <td class="p-2">
              <h5 class="p-1">{{item.month}} {{item.day}}</h5>
              <p class="p-1">{{item.msg}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card mt-4 shadow"
        @click="selectMatch(nextGame().matchID), setpage('gameInfo')">
        <div class="card-header bg-warning">
          <h4>Next Match</h4>
        </div>
        <div class="card-body text-dark" v-if="nextGame()!=null">
          <table class="text-center">
            <tr>
              <td>
                <img :src="nextGame().team1.team_logo_img" alt="Team 1 Logo" height="50px"
                  width="50px">
                <h2 class="card-title">{{nextGame().team1.team_name}}</h2>
              </td>
              <td>
                <h4>Vs.</h4>
              </td>
              <td>
                <img :src="nextGame().team2.team_logo_img" alt="team 2 logo" height="50px"
                  width="50px">
                <h2>{{nextGame().team2.team_name}}</h2>
              </td>
            </tr>
          </table>
          <h5>{{nextGame().fullDay}}, {{nextGame().time}}
          </h5>
          <h5>{{nextGame().location.name}}</h5>
        </div>
        <div class="card-body text-dark" v-else>
          <h5>there is not match</h5>
        </div>
      </div>
    </section>

    <section class="text-center overflow-auto p-4" id="menu2" v-show="page == 'menu2'" :style="{height: heightVp}">
      <table class="table text-center teams-table">
        <tbody>
          <tr v-for="team in teams">
            <td>
              <h3 class="p-4">{{team.team_name}}</h3>
            </td>
            <td>
              <img :src="team.team_logo_img" height="50px" width="50px"
                @click="selectTeam(team.team_name), setpage('teamInfo')"></img>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section v-if="selectedTeam!=null" class="p-4 text-center  overflow-auto" :style="{height: heightVp}"
      v-show="page == 'teamInfo'">
      <img :src="selectedTeam.team_logo_img" height="100px" width="100px" alt="">
      <h2>{{selectedTeam.team_name}}</h2>
      <div class="card mt-4 shadow"
        @click="selectMatch(nextTeamGame(selectedTeam.team_name).matchID), setpage('gameInfo')">
        <div class="card-header bg-warning">
          <h4>Next Match</h4>
        </div>
        <div class="card-body text-dark" v-if="nextTeamGame(selectedTeam.team_name)!=null">
          <table class="text-center">
            <tr>
              <td>
                <img :src="nextTeamGame(selectedTeam.team_name).team1.team_logo_img" alt="Team 1 Logo" height="50px"
                  width="50px">
                <h2 class="card-title">{{nextTeamGame(selectedTeam.team_name).team1.team_name}}</h2>
              </td>
              <td>
                <h4>Vs.</h4>
              </td>
              <td>
                <img :src="nextTeamGame(selectedTeam.team_name).team2.team_logo_img" alt="team 2 logo" height="50px"
                  width="50px">
                <h2>{{nextTeamGame(selectedTeam.team_name).team2.team_name}}</h2>
              </td>
            </tr>
          </table>
          <h5>{{nextTeamGame(selectedTeam.team_name).fullDay}}, {{nextTeamGame(selectedTeam.team_name).time}}
          </h5>
          <h5>{{nextTeamGame(selectedTeam.team_name).location.name}}</h5>
        </div>
        <div class="card-body text-dark" v-else>
          <h5>there is not match</h5>
        </div>
      </div>
      <h2>Stadistics</h2>
      <div>
        <div class="shadow mb-2">
          <ul class="text-center list-group list-group-flush">
            <li class="list-group-item">
              <h6>Team Position: {{selectedTeam.team_position}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Matches Player: {{selectedTeam.matches_played}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Wins: {{selectedTeam.wins}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Draws: {{selectedTeam.draws}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Loses: {{selectedTeam.loses}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Goal Difference: {{selectedTeam.goal_difference}}</h6>
            </li>
            <li class="list-group-item">
              <h6>Points: {{selectedTeam.points}}</h6>
            </li>
          </ul>
        </div>
        <h2>Players</h2>
        <div class="shadow mb-4">
          <table class="table table-light">
            <tr class=" text-center">
              <th>
                <h5>Player Name</h5>
              </th>
              <th>
                <h5>Position</h5>
              </th>
            </tr>
            <tr v-for="player in selectedTeam.players">
              <td>
                <h5>{{player.name}}</h5>
              </td>
              <td class="text-center">
                <h5>{{player.position}}</h5>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <section class="p-4 overflow-auto" id="menu3" v-show="page == 'menu3'" :style="{height: heightVp}">

     <div id="titlecenter">
      <h1>Northside Youth Soccer League</h1>
      <h2>Rules of Play &amp; Policies</h2>
      <p>FIFA rules shall govern NYSL play except as modified herein.</p>
    </div>
    
    <div id="rules">
      <h2>Sportsmanship</h2>
      <ul>
       <li>The common interest that members of the Association share is to inspire youth to practice the ideals of sportsmanship and fair play. Any player, coach, team, parent, spectator, administrator or referee whose behavior detracts from this purpose is subject to disciplinary action regardless of technical soccer background, expertise, accomplishments or standing.</li>
      </ul>
      
      <h2>Fifa Field Regulations</h2>
      <ol>
        <li><h3>Dimensions.</h3> FIFA Law 1 provides for flexible external field dimensions within a given maximum and minimum width and length. These dimensions should be adhered to for all fields used by teams under 12 and older. 
        </li>
        
        <li><h3>Competition Fields.</h3> Fields used within the competition program must be a minimum of 100 x 60 yards. Leagues, districts or associations participating in the state competition program that are unable to provide a field that meets these minimum requirements must advise the State Competition Board which will assign its Fields Committee to inspect the field and recommend to the Board whether or not a waiver of the minimum dimensions should be granted. Teams from leagues, districts or associations that are unable to provide an acceptable field may be required to play all their games away.
        </li>
        
        <li><h3>Fields Used By Young Age Groups.</h3>
        <ol type="a">
          <li>U-6 play on a field approximately 20 X 40 yards with no penalty areas. Fields for older age groups should be progressively larger.</li>
          <li>U-8 plays on a field 40-50 yards in length and 20-30 yards width.</li>
          <li>U-10 play on a field 70-80 yards in length and 40-50 yards in width.</li>
          <li>In addition, fields used by young age groups may have their internal dimensions and size of goal similarly modified.</li>
        </ol>
        </li>
        
        <li><h3>Team Bench Areas</h3>
        <ol type="a">
         <li>Recreation &amp; District Programs
           <ul>
             <li>The decision for team/spectator placement on the field will be made by the governing body of that team. A team's bench area shall consist of that area at least one (1) yard away from the touchline and extending to twenty yards (20) both ways from the halfway line. In the event that field 2 conditions require team benches to be on the same side of the field, a team's bench area shall consist of that area two(2) yards away from the touchline and extending twenty yards one (1) way from the halfway line.</li>
             <li>The home team has first choice as to where it wishes to locate its bench area. Coaches and substitutes are required to remain within their bench area during the game. Parents and spectators should occupy the same side of the field as the team they are supporting.</li>
           </ul>
           </li>
         <li>State Competition League Only
           <ul>
             <li>Except where it is determined by the referee to be impractical, team bench areas shall be along the same touchline. Each team bench area shall be located two yards outside the touchline, beginning not closer than five yards from midfield and extending not further than twenty yards from midfield. The home team shall have the right to choose the location of its bench area. Coaches and substitutes must remain within their team's bench area during the game.</li>
             <li>Parents and spectators must occupy the sideline opposite the team bench areas. Supporters of a team must assemble on the side of the midfield facing the team bench area of that team. There shall be a buffer zone extending ten yards on each side of the midfield that may not be occupied by parents or spectators. Match officials shall be empowered to enforce these provisions and may suspend or terminate games in the event that any team, coach, parent, or spectator declines to abide by requests from match officials to comply with these standards.</li>
           </ul>
           </li>
         </ol>
         </li>
       </ol>
       
       <h2>Equipment</h2>
         <ul>
           <li>We will abide by and accept equipment standards as defined by FIFA, USSF and USYSA.</li>
         </ul>
       
       <h2>Number of Players</h2>
       <ul>
         <li><h3>Team Size.</h3> Except as noted below, below, team rosters shall consist of not less than eleven nor more than eighteen players. A team must have at least seven (7) players present and able to play before referees are permitted to start a sanctioned game. No more than eleven (11) players per team may be on the field at any one time during the game.</li>
         <li><h3>Size of Age Group Teams.</h3> In order to give player's maximum opportunity to develop in the game of soccer, U-6 through U-1O play modified rules and size of roster as stated in United States Youth Soccer Association (USYSA) rules. It is strongly recommended that U-6 and U-8 play 4 v 4. UYSA shall not sanction games involving teams under 10 or younger unless such games are conducted with not more than eight (8) players per side. (National rule 4036 section 2)</li>
         <li>Recreational/Developmental players at other ages or where numbers in the playing area are low are strongly encouraged to play small-sided games on reduced field size.</li>
       </ul>
       
       <h2>Substitutions</h2>
       <ul>
         <li>Teams may make an unlimited number of substitutions at the times indicated below. A player who has been replaced may re-enter the game as a substitute at a later time.
         <ol>
           <li>Prior to a throw-in your favor.</li>
           <li>Prior to a goalkick by either team.</li>
           <li>After a goal by either team.</li>
           <li>After an injury, by either team, when the referee stops play.</li>
           <li>At half time.</li>
           <li>When a player has been "cautioned", only the player receiving "caution" may be substituted.</li>
         </ol>
         </li>
       </ul>
       
       <h2>Confiscated Player Passes</h2>
       <ul>
         <li>Passes of any individual(s) ejected from any match shall be retained after the match by the referee. The pass of any individual who has received a third caution (yellow card) during a playing year shall be confiscated by the referee at the conclusion of the match in which the third caution was received. That player will be suspended from playing in the next game in which the offending participant would otherwise be eligible to participate. This process will continue so that for every third yellow card received during a playing year, the player will be suspended from playing in the next game (after the receipt of a third yellow card) for which the offending participate would otherwise be eligible to participate. The referee shall deliver all confiscated passes to the UYSA State Office within forty-eight (48) hours of the conclusion of the match.</li>
       </ul>
       
       <h2>All-Play</h2>
       <ul>
         <li>All-play means that every recreation player on every team shall play at least fifty percent of each game. Coaches in the competition program are encouraged to play their players 50% of each game.
         <ul style="list-style-type:circle;">
           <li>A Coach shall be permitted to not play a player 50% of each game under special circumstances, e.g., unexcused absences from practice and/or games, ungentlemanly conduct at practice and/or games, and injuries.</li>
         </ul>
         </li>
       </ul>
       
       <h2>Player's Equipment</h2>
       <ul>
         <li>Where the uniform colors of both teams are so similar that the referee orders a change, the designated home team must change to colors distinct from those of the opponent.</li>
       </ul>
         
       <h2>Mixed Teams</h2>
       <ul>
         <li><h3>Girls Playing On Boys' Teams.</h3> Girls are eligible to play on boys'teams with parent/guardian permission.</li>
         <li><h3>Types of Teams.</h3> Teams with females only are Girls Teams. All others are Boys Teams.</li>
       </ul>
       
       <h2>Coaching from the Sidelines</h2>
       <ul>
         <li>Coaching from the sidelines, i.e., giving direction to one's own team on points of strategy and position, is permitted provided that:
         <ol>
           <li>No mechanical, electrical or other devices are used to amplify the voice.</li>
           <li>The tone of voice is informative and not a harangue.</li>
           <li>The coaching takes place within the team's bench area.</li>
           <li>No coach, substitute, player or spectator is to make derogatory remarks or gestures to the referees, linesmen, players, substitutes or spectators.</li>
           <li>No coach, player, substitute or spectator is to use profanity or incite, in any manner, disruptive behavior of any kind.</li>
         </ol>
         </li>
       </ul>
       
       <h2>Game Termination</h2>
       <ul>
         <li>Any game terminated after 15 minutes into the second half by the referee by reason of the elements, or by reason of grave disorder on the part of the coaches, players or spectators of a team that is losing at the point that the game is terminated, shall stand as a completed game. If a team is ahead and the game is called because of their actions they will lose the game 1-0. 
       </li></ul>
       
       <h2>Conditions of Replay of Games</h2>
       <ul>
         <li>Any game which is required to be replayed as a result of any protest orappeal, shall be subject to the following conditions:
         <ol>
           <li>The game shall be replayed on the same field, as was the suspended or protested game, unless otherwise agreed by the coaches.</li>
           <li>Impartial referees shall be assigned to the new game.</li>
           <li>The PROTEST AND APPEALS COMMITTEE shall have the power to impose such additional conditions on the replay of the game, as it deems appropriate under the circumstances.</li>
         </ol>
         </li>
       </ul>
       
       <h2>Referee Responsibilities</h2> 
       <ul>
         <li> The referee shall verify the identity of the players and coaches with his/her player pass. He shall collect the passes of those players and coaches who are to participate in the game. The referee must allow no player into the game for whom he/she has no pass.</li>
         <li>Upon completion of the game, the referee shall send his/her report to the UYSA offices within four (4) days, holidays excluded. If a coach or a player is ejected, the referee report form is required within forty-eight (48) hours along with the player/coach pass.</li>
         <li>A referee report form must be filed for every game played.</li>
         <li>Each team must determine whether or not referees are registered prior to the start of each game. Upon request, referees officiating at any game must willingly and without bias, show documentation regarding their certification level and registration standing with the USSF to coach, assistant coach, or team captain of teams participating in that game. Prior to the game a coach may decide to postpone the game if the referees do not produce the requested documentation. The game is to be replayed at a later date.</li>
         <li>Referees not complying with this section will be referred to the Disciplinary Committee.</li>
       </ul>
     </div>
   
    </section>

    <section class="text-center overflow-auto p-4" id="menu4P" v-show="page == 'menu4'" :style="{height: heightVp}">
      <div v-for="(month, index) in dates">
        <h3>{{month[0][0].month}} Games</h3>
        <div v-for=" (day, index) in month">
          <table class="table text-center">
            <tr class="matches">
              <td>
                <h4>{{day[0].day}}/{{parseInt(day[0].monthN) + 1}}</h4>
              </td>
              <td>
                <div v-for="match in day">
                  <button @click="selectMatch(match.matchID), setpage('gameInfo')"
                    class="btn btn-warning m-2">{{ match.team1.team_name}} VS
                    {{match.team2.team_name}}</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <section class="text-center overflow-auto p-4" id="gameInfo" v-if="selectedMatch!=null" :style="{height: heightVp}"
      v-show="page == 'gameInfo'">
      <h2>{{selectedMatch.team1.team_name}} <img :src="getTeamShield(selectedMatch.team1.team_name)" height="50px"
          width="50px" alt="" @click="selectTeam(selectedMatch.team1.team_name), setpage('teamInfo')">
        VS <img :src="getTeamShield(selectedMatch.team2.team_name)" height="50px" width="50px" alt=""
          @click="selectTeam(selectedMatch.team2.team_name), setpage('teamInfo')"> {{selectedMatch.team2.team_name}}
      </h2>
      <h4> {{selectedMatch.fullDay}}</h4>
      <h4>{{selectedMatch.time}}</h4>
      <h4>{{matchLocation.name}}</h4>
      <iframe v-bind:src='matchLocation.map' width='100%' height='400px' frameborder='0' allowfullscreen></iframe>
      <button class="btn mt-4" v-on:click="mForum(selectedMatch.matchID)">
        <h4>Go to match's forum</h4>
      </button>
    </section>

    <div v-show="page == 'menu4'">
      <div class="d-flex">
        <section class="flex-fill text-center overflow-auto p-4" id="menu4" :style="{height: heightVp}">
          <div v-for="(month, index) in dates">
            <h3>{{month[0][0].month}} Games</h3>
            <div v-for=" (day, index) in month">
              <table class="table text-center">
                <tr class="matches">
                  <td>
                    <h4>{{day[0].day}}/{{parseInt(day[0].monthN) + 1}}</h4>
                  </td>
                  <td>
                    <div v-for="match in day">
                      <button @click="selectMatch(match.matchID)" class="btn btn-warning m-2">{{ match.team1.team_name}}
                        VS
                        {{match.team2.team_name}}</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </section>


        <section class="bg-success flex-grow-1 text-center overflow-auto p-4" id="menu5" :style="{height: heightVp}">

          <div v-if="selectedMatch!=null">
            <h2>{{selectedMatch.team1.team_name}} <img :src="getTeamShield(selectedMatch.team1.team_name)" height="10%"
                width="10%" alt="" @click="selectTeam(selectedMatch.team1.team_name), setpage('teamInfo')">
              VS <img :src="getTeamShield(selectedMatch.team2.team_name)" height="10%" width="10%" alt=""
                @click="selectTeam(selectedMatch.team2.team_name), setpage('teamInfo')">
              {{selectedMatch.team2.team_name}}
            </h2>
            <h4>{{selectedMatch.time}}</h4>
            <iframe v-bind:src='matchLocation.map' width='100%' height='600px' frameborder='0' allowfullscreen></iframe>
            <button class="btn mt-4" v-on:click="mForum(selectedMatch.matchID)">
              <h4>Go to match's forum</h4>
            </button>
          </div>
          <div v-else>
            <h2>SELECT A MATCH</h2>
          </div>
        </section>
      </div>
    </div>

    <div id="matchForum" class="overflow-auto" v-show="page==='Match Forum'" :style="{height: heightVp}">
      <div class="container-fluid text-center text-white">
        <div v-show="!logged">
          <div class="info w-100 d-block m-auto p-3">
            <h5 class="mb-3">Sign in to read, create and comment on posts</h5>
            <form class="form-inline " v-on:submit.prevent>
              <label for="email" class="mr-sm-2">Email:</label>
              <input type="email" class="form-control mr-sm-2 mb-1" id="email" placeholder="Enter email" name="email"
                required>
              <label for="pwd" class="mr-sm-2">Password:</label>
              <input type="password" class="form-control mr-sm-2 mb-1" id="pwd" placeholder="Enter password" name="pswd"
                required>
              <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="login">Login</button>
              <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="register">New Acount</button>
            </form>
            <button id="sign-in-button" class="btn signButtons"><i class="fab fa-google mr-2"></i> Signn in with
              Google</button>
          </div>
        </div>
        <div v-show="logged">
          <button class="btn btn-success mt-4 mb-2" data-toggle="collapse" data-target="#new-post-collapse"
            id="new-post-collapse-trigger">New Post</button>
          <div id="new-post-collapse" class="collapse">
            <div class="info w-75 d-block m-auto p-2">
              <input type="text" id="new-post-title" class="form-control w-75 d-block m-auto mb-4"
                placeholder="Post Title">
              <textarea class="form-control w-100 mt-2" placeholder="Post content" rows="3"
                id="new-post-message"></textarea>
              <button class="btn mt-2" id="add-post-button">
                <h6>Add new post</h6>
              </button>
            </div>
          </div>
          <div v-show="forumPosts.length !== 0">
            <section id="recent-posts-list">
              <div class="posts-container ">
                <div class="info post mb-3 d-flex justify-content-center" v-for="post in forumPosts"
                  v-bind:class="['post-'+post.key, isUser(post.uid) ? 'myPost' : 'otherPost']">
                  <div class="authorPic">
                    <img :src="post.authorPic">
                  </div>
                  <div class="content p-2">
                    <h6 class="username font-italic">{{post.author}}</h6>
                    <h5 class="title-text">{{post.title}}</h5>
                    <p class="text mb-0">{{post.body}}</p>
                    <div class="container"><button class="btn w-100 mt-2" data-toggle="collapse"
                        :data-target="'#commentsCollapse-'+post.key">
                        <h6><u> Show/hide comments ({{post.comments.length}})</u></h6>
                      </button>
                      <div :id="'commentsCollapse-'+post.key" class="collapse mt-2">
                        <div v-if="post.comments.length !== 0">
                          <div v-for="com in post.comments" class="mb-1">
                            <h6 class="text-left small"><u>{{com.author}}</u></h6>
                            <p class="text-left mb-0">{{com.text}}</p>
                          </div>
                        </div>
                        <div v-else>
                          <h6 class="font-italic">There are no comments for this post!</h6>
                        </div>
                        <div class="mt-1">
                          <input class="mb-1 w-100 mt-1" :id="'comm-input-'+post.key" type="text" name="commContent"
                            placeholder="Write a comment">
                          <button class="btn" v-on:click="funcCom(post.key)">Add Comment</button>
                        </div>
                      </div>
                    </div>
                    <p class="text-right mb-0"> {{getDate(post.date)}}</p>
                  </div>
                </div>
            </section>
          </div>
          <div v-show="forumPosts.length === 0">
            <h6>There are no posts for this match.<br>Be the one that writes the first one!</h6>
          </div>
          <footer><button id="sign-out-button" class="btn signButtons"> Sign out</button></footer>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/6.6.2/firebase-app.js"></script>
  <script src="/__/firebase/6.6.2/firebase-auth.js"></script>
  <script src="/__/firebase/6.6.2/firebase-database.js"></script>
  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>
  <script src="js/info.js"></script>
  <script src="./js/main.js"></script>
  <script src="js/forum.js"></script>
</body>

</html>